dist
node_modules
.pdf
.DS_Store
.parcel-cache








<!--
        classes,
        functions,
        inheritance,
        abstraction,
        polymorphism,
        encapsulation,
        interfaces,
        enums,
        types,
        generics,
        tuples,
        readonly
        variables,
        super(constructors)
 -->